@model IEnumerable<Tp3_AspNet.Presentation.Models.BookViewModel>

@{
    ViewBag.Title = "AddBookToAuthor";
}

<h2>Add Book To Author</h2>

<p>
    @Html.ActionLink("Voltar", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Isbn)
        </td>
        <td>
            @Html.ActionLink("Add This Book", "AddBook", new { bookid = item.BookId }) |
            
        </td>
    </tr>
}

</table>
