@model IEnumerable<Tp3_AspNet.Presentation.Models.AuthorViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @foreach (var item2 in item.Books)
            {
                if (item2 != null)
                {
                    @Html.DisplayFor(modelItem => item2.Titulo)<br />
                }
            }
            
        </td>
        <td>
            @foreach (var item2 in item.Books)
            {
                if (item2 != null)
                {
                    @Html.ActionLink("Book Detail", "Details", "Book", new { id = item2.BookId }, new { })<br />
                }
            }

        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorId}) |
            @Html.ActionLink("Details", "Details", new { id = item.AuthorId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AuthorId }) |
            @Html.ActionLink("Add Book", "AddBookToAuthor", new { id = item.AuthorId }) |

        </td>
    </tr>
}

</table>
